*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
	font-family: 'Roboto', sans-serif;
}

.contact-body {
	background-image: url('../../dist/img/mountains-g6f9ff6da3_1920.jpg');
	background-position: center;
	background-size: cover;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.title {
	margin: 20px 50px;
	text-align: center;
	font-size: 2.4rem;
	font-weight: 200;
	text-transform: uppercase;
}

.nav {
	&__text {
		color: rgb(56, 56, 56);
		font-size: 3rem;
	}

	&__link {
		padding: 30px 20px;
		font-size: 1.6rem;
		list-style-type: none;

		&:hover {
			background-color: black;
			color: #fff;
		}

		&-navigate {
			text-decoration: none;
		}
	}

	&-desktop {
		display: none;
		justify-content: space-around;
		align-items: center;

		&__box {
			display: flex;
			justify-content: end;
			width: 50%;
		}

		&__links {
			display: flex;
			margin: 0;
			cursor: pointer;
		}
	}

	&-mobile {
		display: none;
		position: absolute;
		width: 60%;
		background-color: #fff;
		z-index: 2000;

		&__icon {
			position: absolute;
			top: 10px;
			left: 10px;
			padding: 10px;
			font-size: 2.5rem;
			color: #fff;
			z-index: 5;
			cursor: pointer;
		}
	}
}

a:link,
a:visited {
	color: inherit;
}

.hero {
	&-bg {
		position: relative;
		height: 22em;
		background-image: url('../../dist/img/jungle_640.jpg');
		background-size: cover;
		background-position: center;
	}

	&__shadow {
		position: absolute;
		height: 100%;
		width: 100%;
		background-color: rgba(20, 20, 20, 0.5);
	}

	&__text {
		position: absolute;
		color: #fff;
		top: 50%;
		left: 40%;
		transform: translate(-50%, -50%);

		&--small {
			font-size: 1.6rem;
		}

		&--big {
			font-size: 2rem;
		}
	}
}

.about {
	margin: 4em 2em;

	&-content {
		display: flex;
		flex-direction: column;
	}

	&__img {
		height: 300px;
		width: 90%;
		margin: 0 auto;
		background-image: url('../../dist/img/waters_640.jpg');
		background-size: cover;
		background-position: center;
	}

	&__box {
		padding: 20px;

		&-title {
			padding: 10px 0;
			color: #000;
			font-size: 2rem;
		}

		&-text {
			font-size: 1.6rem;
			line-height: 150%;
		}
	}
}

.hero {
	&-bg-two {
		height: 20em;
		background-image: url('../../dist/img/girl_640.jpg');
	}

	&__text-two {
		left: 50%;
		width: 60%;
		padding: 20px 60px;
		text-align: center;
		border: 1px solid #fff;
	}

	&__paragraph {
		font-size: 2.2rem;
	}
}

.offer {
	margin: 4em 2em;

	&__text {
		margin: 2em;
		font-size: 2rem;
		font-weight: normal;
	}

	&__cards {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		padding: 1em;
	}

	&__card {
		width: 240px;
		padding: 20px;
		margin: 20px;
		box-shadow: 0 0 10px #aeadad;
		border-radius: 5px;
		text-align: center;
	}
}

.card {
	&__title {
		font-size: 2rem;
	}

	&__price {
		padding: 15px;
		font-size: 2.6rem;
		font-weight: bold;
	}

	&__list {
		padding: 20px;
	}

	&__package {
		list-style: none;
		text-align: left;
		font-size: 1.4rem;

		&--not {
			color: #6d6d6d;
		}
	}

	&__btn {
		padding: 5px 35px;
		font-size: 1.6rem;
		border-radius: 5px;
		border: none;
		background: none;
		box-shadow: 0 0 10px #aeadad;
		cursor: pointer;
		transition: transform 0.3s;

		&:hover {
			transform: scale(1.1);
		}

		&--green {
			background-color: rgb(104, 216, 139);
			box-shadow: 0 0 10px rgb(104, 216, 139);
		}

		&-more {
			padding: 15px 30px;
			font-size: 1.8rem;
			color: #2e2d2d;
			text-decoration: underline;
			border: 1px solid #3e3e3e;
			background: none;
			box-shadow: none;
		}
	}
	&__more {
		margin: 20px;
		text-align: center;
		transition: transform 0.3s;

		&:hover {
			transform: scale(1.05);
		}
	}
}

.fa-check {
	padding: 5px;
	color: rgb(104, 216, 139);
}

.fa-minus {
	padding: 5px;
}

.footer {
	background-color: #f3f3f3;

	&__main {
		padding: 30px 0;
		display: flex;
	}

	&__logo {
		&-icon {
			margin-top: 10px;
			color: rgb(56, 56, 56);
			font-size: 3rem;
			text-align: center;
		}
	}

	&__logo,
	&__info {
		width: 50%;
	}

	&__info {
		display: flex;
		justify-content: space-evenly;

		&-heading {
			padding: 5px;
			font-size: 1.6rem;
		}
	}

	&__text {
		padding: 5px;
		font-size: 1.4rem;
	}

	&__copyright {
		text-align: center;
		padding: 20px;
		border-top: 1px solid #6d6d6d;
	}
}

.subpage {
	&__text {
		margin-bottom: 3em;
		text-align: center;
		font-size: 2rem;
		font-weight: normal;
	}
}

.bid {
	&__section {
		margin: 8em 0;
	}

	&__hero {
		&-bg {
			position: relative;
			height: 25em;
			background-position: center;
			background-size: cover;

			&--one {
				background-image: url('../../dist/img/water-g65b69a55e_640.jpg');
			}

			&--two {
				background-image: url('../../dist/img/forest-gb84cdaa15_640.jpg');
			}

			&--three {
				background-image: url('../../dist/img/konigssee-gd0ec11762_640.jpg');
			}
		}

		&-shadow {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			background-color: rgba(51, 51, 51, 0.6);
		}

		&-text {
			position: absolute;
			color: #fff;
			text-align: center;
		}

		&-title {
			font-size: 3rem;
			margin: 0.5em;
		}

		&-paragraph {
			margin: 0 20px;
			text-align: center;
			font-size: 1.4rem;
		}
	}
	&__details {
		margin: 1em 0;
		margin-left: 50%;
		transform: translateX(-50%);
		width: fit-content;
		font-size: 1.4rem;
	}
}

.details {
	&__package {
		list-style: none;
	}
}

.contact {
	&-form {
		&__text {
			margin: 2em 2em 3em 2em;
			font-size: 1.6rem;
			text-align: center;
		}
	}
}

.nav-subpage__icon {
	color: #333;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	&__label {
		font-size: 2rem;
		font-weight: bold;
		padding: 1em;
		color: #000;
	}

	&__input {
		padding: 0.5em 2em;
		margin-bottom: 2em;
		background-color: rgba(243, 243, 243, 0.7);
		border: 1px solid #706f6f;
		border-radius: 5px;
	}

	&__msg {
		width: 80%;
		max-width: 80%;
		height: 200px;
	}
}

.maps {
	height: 300px;
	text-align: center;
	margin: 8em 1em;
}

@media (min-width: 576px) {
	.offer {
		&__cards {
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: center;
		}
	}
}

@media (min-width: 768px) {
	.nav {
		&-desktop {
			display: flex;
		}

		&-mobile__icon {
			display: none;
		}
	}

	.hero {
		&__text {
			position: absolute;
			color: #fff;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);

			&--small {
				font-size: 3rem;
			}

			&--big {
				font-size: 3.4rem;
			}
		}
	}

	.about {
		.hero {
			&-bg {
				background-image: url('../../dist/img/jungle_1920.jpg');
			}
		}

		&-content {
			display: flex;
			flex-direction: row;
		}

		&__img {
			height: 350px;
			width: 50%;
			margin: 20px 40px 30px 0;
		}

		&__box {
			width: 50%;
			padding: 10px;

			&-title {
				padding: 20px 0;
				font-size: 2.4rem;
			}

			&-text {
				font-size: 1.8rem;
				line-height: 200%;
			}
		}
	}

	.hero {
		.hero {
			&-bg {
				position: relative;
				height: 35em;
				background-image: url('../../dist/img/jungle_1920.jpg');
			}

			&-bg-two {
				height: 30em;
				background-image: url('../../dist/img/girl_1920.jpg');
			}
		}

		&__text-two {
			width: 50%;
		}

		&__paragraph {
			font-size: 3.6rem;
		}
	}

	.offer {
		&__text {
			margin: 1em;
			text-align: center;
			font-size: 2.6rem;
		}
	}

	.card {
		padding: 40px 20px;
		width: 260px;

		&__title {
			font-size: 2.4rem;
		}

		&__price {
			padding: 15px;
			font-size: 3rem;
		}

		&__package {
			font-size: 1.6rem;
		}
	}

	.bid {
		&__hero {
			&-bg {
				position: relative;
				height: 35em;

				&--one {
					background-image: url('../../dist/img/water-g3c4ef40dc_1920.jpg');
				}

				&--two {
					background-image: url('../../dist/img/forest-g1b496b55e_1920.jpg');
				}

				&--three {
					background-image: url('../../dist/img/konigssee-g0481d096a_1920.jpg');
				}
			}

			&-title {
				font-size: 4.5rem;
			}

			&-paragraph {
				font-size: 2rem;
			}
		}

		&__details {
			font-size: 1.6rem;
		}
	}

	.maps {
		width: 60%;
		max-width: 700px;
		margin: 8em auto;
	}
}

@media (min-width: 992px) {
	.title {
		font-size: 3.6rem;
	}

	.about {
		.hero {
			&-bg {
				background-image: url('../../dist/img/jungle_1920.jpg');
			}
		}

		&-content {
			display: flex;
			flex-direction: row;
		}

		&__img {
			height: 350px;
			width: 50%;
			margin: 20px 40px 30px 0;
		}

		&__box {
			width: 50%;
			padding: 10px;

			&-title {
				padding: 20px 0;
				font-size: 2.4rem;
			}

			&-text {
				font-size: 1.8rem;
				line-height: 200%;
			}
		}
	}

	.hero {
		&-bg-two {
			height: 30em;
			background-image: url('../../dist/img/girl_1920.jpg');
		}
	}

	.footer {
		&__info {
			&-heading {
				padding: 10px;
				font-size: 2rem;
			}
		}

		&__text {
			padding: 10px;
			font-size: 1.6rem;
		}

		&__copyright {
			font-size: 1.4rem;
		}
	}
	.form {
		&__msg {
			width: 800px;
			max-width: 800px;
		}
	}
}
