*,
*::after,
*::before {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	font-family: 'Roboto', sans-serif;
}

body {
	color: rgb(56, 56, 56);
}

.nav {
	&__text {
		padding: 20px;
		font-size: 3rem;
	}

	&__link {
		padding: 20px;
		font-size: 1.4rem;
		list-style-type: none;

		&:hover {
			background-color: black;
			color: #fff;
		}
	}

	&-desktop {
		display: flex;
		justify-content: space-around;
		align-items: center;

		&__box {
			width: 50%;
		}

		&__links {
			display: flex;
		}
	}

	&-mobile {
		width: 60%;
		z-index: 2000;
	}
}
